
<div class="container-fluid">
  <div class="row">

    <div class="col3">

      <h2>Datepicker</h2>

      <input class="" type="date" value="dd/mm/yyyy">

      <br>

      <h2>Category</h2>
      <ul>
        <li><a href="https://lmgtfy.com/?q=Antiques">Antiques</a></li>
        <li><a href="https://lmgtfy.com/?q=Cats">Cats</a></li>
        <li><a href="https://lmgtfy.com/?q=Cars">Cars</a></li>
        <li><a href="https://lmgtfy.com/?q=Tickets">Event Tickets</a></li>
        <li><a href="https://lmgtfy.com/?q=holidays">Holidays</a></li>
        <li><a href="https://lmgtfy.com/?q=collectible">Collectible</a></li>
      </ul>
    </div>


    <div class="col">

      <h1>Auctions that expire today:</h1>

      <div class="row">
        <div class="col">
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/alarm.gif"/>
          </a>
          <a href="https://www.duckduckgo.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/bike.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/ghost.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/assitance.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/cigarette.gif"/>
          </a>
        </div>

        <div class="col">
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/waterpistok.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/ytho.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/sandwhich.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/wrong.gif"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img class="img-thumbnail py-1" src="../../../../assets/images/giphy.webp"/>
          </a>
          <a href="https://www.qwant.com" target="_blank">
            <img  class="img-thumbnail py-1" src="../../../../assets/images/ground.gif"/>
          </a>
        </div>
      </div>

    </div>

    <div class="col-3">
      <h2>Advertentie</h2>
      <p><b>Engine: </b>'lorem ipsum dolor sit amet consectetur adipiscing elit' </p>
      <p><b>Power: </b>'lorem ipsum dolor sit amet consectetur adipiscing elit' </p>
      <p><b>Torque: </b>'lorem ipsum dolor sit amet consectetur adipiscing elit' </p>
      <p><b>Highest Bid: </b>'lorem ipsum dolor sit amet consectetur adipiscing elit' </p>
      <p><b>Auction: </b>'lorem ipsum dolor sit amet consectetur adipiscing elit' </p>

    </div>

  </div>

</div>
