<!-- Toolbar -->

<div class="bg-primary navbar" style="height: 125px;">
  <ul class="mr-auto my-1 navbar-nav">
    <img style="max-height: 100px;" class=""
         src="../../../../assets/images/auction-clipart-law-auction-hammer-11.png">
  </ul>

  <ul class="text-white navbar-nav">
    <h1 class="text-center">💵💲Auctioneer💰💸</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col mr-auto text-left">Today is:</div>
        <div class="col mr-auto text-right">Welkom</div>
      </div>
      <div class="row">
        <div class="col text-left">{{todayDate}}</div>
        <div class="col text-right">{{emailadres}}</div>
      </div>
    </div>
  </ul>

  <ul class="ml-auto my-1 navbar-nav">
    <img style="max-height: 100px;" class=""
         src="../../../../assets/images/PinClipart.com_garage-sale-clip-art_158178.png">
  </ul>

</div>
